<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그파일 저장 경로 -->
    <property name="LOG_DIR" value="./logs" />

    <!-- appender :  로그 남길 수 있는 형태 ( 콘솔용 appender ) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- (파일용 appender )  -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 파일 경로 -->
        <file>${LOG_DIR}/syslog/syslog.txt</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <!-- 해당 레벨(info)만 기록한다. -->
            <onMatch>ACCEPT</onMatch>
            <!-- 다른 수준의 레벨은 기록하지 않는다.(상위 레벨도 기록 안함), 상위 수준의 레벨에 대한 기록을 원하면 ACCEPT 로 하면 기록된다. -->
            <onMismatch>DENY</onMismatch>
            <!-- 레벨별 필터링이 필요없을 경우 filter class 관련된 부분을 삭제하면 됨-->
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- 출력패턴 -->
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n
            </Pattern>
        </layout>
        <!-- 추가 설정 -->
        <!-- 파일의 크기가 10MB 혹은 180일이 넘을 경우 fileNamePattern 에 맞게 .gz 로 따로 저장한다는 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일로 쌓을 경로 설정 ( .gz,.zip 등을 넣으면 자동으로 일자별 로그파일 압축 ) -->
            <fileNamePattern>${LOG_DIR}/syslog/backup/syslog.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 파일당 최고 용량 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 한 파일의 최대 저장 기한 -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 전체 로그 설정 (다른 정책을 추가 하지 않으면 해당 설정대로 로그가 쌓임)-->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 해당 application.yml 파일에 등록 한 프로필(local)의 로그 정책 설정-->
    <springProfile name="local">
        <!-- 패키지 지정 -->
        <logger name="com.example.triple" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>


</configuration>